name: Tests

on:
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  backend-tests:
    name: Run tests
    runs-on: ubuntu-latest
    services:
      db:
        # Just to ensure compatability, check that this postgres version matches with:
        # > The actual postgres version (we'll be using RDS)
        # > The one defined in "docker-compose.yml"
        image: postgres:17.6-alpine
        env:
          POSTGRES_DB: mypregnancy-db
          POSTGRES_USER: mypregnancy-user
          POSTGRES_PASSWORD: mypregnancy-password
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Check out repository code
        uses: actions/checkout@v5

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v7

      - name: Start LocalStack
        uses: LocalStack/setup-localstack@main
        with:
          image-tag: "latest"
          install-awslocal: true
          use-pro: false

      - name: Install dependencies for PostgreSQL Driver
        run: |
          sudo apt-get update
          sudo apt-get install -y libpq-dev

      - name: Install Python dependencies
        working-directory: ./backend
        run: |
          uv venv
          source .venv/bin/activate
          uv sync

      - name: Run database migrations
        working-directory: ./backend
        run: uv run alembic upgrade head
        env:
          SYNC_DATABASE_URL: postgresql+psycopg2://mypregnancy-user:mypregnancy-password@localhost:5432/mypregnancy-db

      - name: Run PyTest
        working-directory: ./backend
        run: uv run pytest
        env:
          APP_ENV: dev
          SECRET_KEY: BOFlVC5OMOAyV7qxoQhhlTmUoR37PPy6
          POSTGRES_DB: fyp_db
          POSTGRES_USER: fyp_user
          POSTGRES_PASSWORD: fyp_password
          POSTGRES_SERVER: localhost
          POSTGRES_PORT: 5432
          SYNC_DATABASE_URL: postgresql+psycopg2://mypregnancy-user:mypregnancy-password@localhost:5432/mypregnancy-db
          ASYNC_DATABASE_URL: postgresql+asyncpg://mypregnancy-user:mypregnancy-password@localhost:5432/mypregnancy-db
          AWS_ACCESS_KEY_ID: test
          AWS_SECRET_ACCESS_KEY: test
          AWS_ENDPOINT_URL: http://localstack:4567
          LOCALSTACK_ENDPOINT_URL: http://localhost:4567
          S3_BUCKET_NAME: mypregnancy-bucket
          S3_BUCKET_REGION: ap-southeast-1
          JWT_EXPIRATION_MINUTES: 8
